/*
    ariaTree.css
*/

.level.root {
    margin: 0;
    padding: 0;
    list-style: none;
}

.level.root li {
    margin: 0;
    padding: 0;
    list-style: none;
}

[role="group"] {
    margin: 0;
    padding: 0;
    margin-left: 2em;
}

.item[aria-expanded="false"] > [role="group"] {
    display: none;
}

.item[aria-expanded="true"] > [role="group"] {
    display: block;
}

.item > .itemWrap:before {
    font-family: monospace;
    margin-right: 0.6em;
    content: "_";
    visibility: hidden;
}

.item[aria-expanded="false"] > .itemWrap:before {
    content: "▶";
    visibility: visible;
}

.item[aria-expanded="true"] > .itemWrap:before {
    content: "▼";
    visibility: visible;
}

.item:focus {
    outline: 0;
}

.item.focus,
.itemWrap.focus {
    outline: 2px solid rgb( 165, 199, 254 );
    outline: 5px auto -webkit-focus-ring-color;
}
