/*
  colorCalculator.css

  Styles for color calculator
*/

.form {
  margin-bottom: 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1em;
}

.color-block {
  padding: 5px;
  width: 200px;
  min-width: 200px;
}

.color-sequence {
  display: flex;
  flex-wrap: wrap;
}

.table {
  margin-left: 2em;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 0.25em 1em;
}
